<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokémons do tipo planta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab5</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <style>
        .box {
          background-color:Green;
          color: white; 
          padding: 20px;
          border-radius: 5px;
          text-align: center;
          width: 80px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      </style>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/114.png"/>
          </ion-thumbnail>
            <ion-label><h2>Tangela</h2></ion-label>
            <ion-label class="box">Planta</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/Tangela">Mais detalhes</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/152.png" />
          </ion-thumbnail>
            <ion-label><h2>Chikorita</h2></ion-label>
            <ion-label class="box">Planta</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/Chikorita">Mais detalhes</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/182.png" />
          </ion-thumbnail>
            <ion-label><h2>Bellossom</h2></ion-label>
            <ion-label class="box">Planta</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/Bellossom">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/191.png" />
          </ion-thumbnail>
            <ion-label><h2>Sunkern</h2></ion-label>
            <ion-label class="box">Planta</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/Sunkern">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/252.png" />
          </ion-thumbnail>
            <ion-label><h2>Treecko</h2></ion-label>
            <ion-label class="box">Planta</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/Treecko">Mais detalhes</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/273.png" />
          </ion-thumbnail>
            <ion-label><h2>Seedot</h2></ion-label>
            <ion-label class="box">Planta</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/Seedot">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/285.png" />
          </ion-thumbnail>
            <ion-label><h2>Shroomish</h2></ion-label>
            <ion-label class="box">Planta</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/Shroomish">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/331.png" />
          </ion-thumbnail>
            <ion-label><h2>Cacnea</h2></ion-label>
            <ion-label class="box">Planta</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/Cacnea">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/387.png" />
          </ion-thumbnail>
            <ion-label><h2>Turtwig</h2></ion-label>
            <ion-label class="box">Planta</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/Turtwig">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/420.png" />
          </ion-thumbnail>
            <ion-label><h2>Cherubi</h2></ion-label>
            <ion-label class="box">Planta</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/Cherubi">Mais detalhes</ion-button>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
