<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokémons do tipo raio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
      <style>
        .box {
          background-color:Yellow;
          color: white; 
          padding: 20px;
          border-radius: 5px;
          text-align: center;
          width: 80px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      </style>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/025.png"/>
          </ion-thumbnail>
            <ion-label><h2>Pikachu</h2></ion-label>
            <ion-label class="box">Raio</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/pikachu">Mais detalhes</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/100.png" />
          </ion-thumbnail>
            <ion-label><h2>Voltorb</h2></ion-label>
            <ion-label class="box">Raio</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/voltorb">Mais detalhes</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/125.png" />
          </ion-thumbnail>
            <ion-label><h2>Electabuzz</h2></ion-label>
            <ion-label class="box">Raio</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/electabuzz">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/135.png" />
          </ion-thumbnail>
            <ion-label><h2>Jolteon</h2></ion-label>
            <ion-label class="box">Raio</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/jolteon">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/179.png" />
          </ion-thumbnail>
            <ion-label><h2>Mareep</h2></ion-label>
            <ion-label class="box">Raio</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/mareep">Mais detalhes</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/181.png" />
          </ion-thumbnail>
            <ion-label><h2>Ampharos</h2></ion-label>
            <ion-label class="box">Raio</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/ampharos">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/239.png" />
          </ion-thumbnail>
            <ion-label><h2>Elekid</h2></ion-label>
            <ion-label class="box">Raio</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/elekid">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/243.png" />
          </ion-thumbnail>
            <ion-label><h2>Raikou</h2></ion-label>
            <ion-label class="box">Raio</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/raikou">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/309.png" />
          </ion-thumbnail>
            <ion-label><h2>Electrike</h2></ion-label>
            <ion-label class="box">Raio</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/electrike">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/311.png" />
          </ion-thumbnail>
            <ion-label><h2>Plusle</h2></ion-label>
            <ion-label class="box">Raio</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/plusle">Mais detalhes</ion-button>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
