<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokémons do tipo água.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
      <style>
        .box {
          background-color:Blue;
          color: white; 
          padding: 20px;
          border-radius: 5px;
          text-align: center;
          width: 80px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      </style>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/007.png"/>
          </ion-thumbnail>
            <ion-label><h2>Squirtle</h2></ion-label>
            <ion-label class="box">Água</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/squirtle">Mais detalhes</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/054.png" />
          </ion-thumbnail>
            <ion-label><h2>Psyduck</h2></ion-label>
            <ion-label class="box">Água</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/psyduck">Mais detalhes</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/060.png" />
          </ion-thumbnail>
            <ion-label><h2>Poliwag</h2></ion-label>
            <ion-label class="box">Água</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/poliwag">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/072.png" />
          </ion-thumbnail>
            <ion-label><h2>Tentacool</h2></ion-label>
            <ion-label class="box">Água</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/tentacool">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/086.png" />
          </ion-thumbnail>
            <ion-label><h2>Seel </h2></ion-label>
            <ion-label class="box">Água</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/seel">Mais detalhes</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/090.png" />
          </ion-thumbnail>
            <ion-label><h2>Shellder</h2></ion-label>
            <ion-label class="box">Água</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/098.png" />
          </ion-thumbnail>
            <ion-label><h2>Krabby</h2></ion-label>
            <ion-label class="box">Água</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/Krabby">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/116.png" />
          </ion-thumbnail>
            <ion-label><h2>Horsea</h2></ion-label>
            <ion-label class="box">Água</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/Horsea">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/118.png" />
          </ion-thumbnail>
            <ion-label><h2>Goldeen</h2></ion-label>
            <ion-label class="box">Água</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/Goldeen">Mais detalhes</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/120.png" />
          </ion-thumbnail>
            <ion-label><h2>Staryu</h2></ion-label>
            <ion-label class="box">Água</ion-label>
            <ion-label></ion-label>
            <ion-button size="small" href="https://www.pokemon.com/br/pokedex/staryu">Mais detalhes</ion-button>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
